.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 1px solid black;
}

.flex-child:first-child {
  margin-right: 100px;
}

.application-form-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.application-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.application-img {
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #9bbdf9;
  margin-bottom: 2rem;
}


@media screen and (min-width: 768px) {
  .application-buttons {
    flex-direction: row;
  }
}
