.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 1px solid black;
}

.flex-child:first-child {
  margin-right: 100px;
}

.application-form-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}
